{% extends 'base.html' %}

{% block title %}
{{ g.user['username'] }}
{% endblock%}

{% block content %}
<!-- <div class="content-profile">
    <div class="profile">
        <aside class="profile_actions">
            <a href="#">Enlace</a>
            <a href="#">Enlace</a>
            <a href="#">Enlace</a>
            <a href="#">Enlace</a>
            <a href="#">Enlace</a>
        </aside>
    </div>
</div> -->
<div id="proximamente">
    <h3>PRÓXIMAMENTE</h3>
    <p>Seguimos trabajando para que usted tenga una excelente experiencia en la plataforma. Gracias por su paciencia</p>
</div>
{% endblock %}