@keyframes wave {
    0%, 100% {
        clip-path: polygon(
            0% 60%,
            10% 55%,
            20% 53%,
            30% 55%,
            40% 60%,
            50% 63%,
            60% 65%,
            70% 66%,
            80% 65%,
            90% 64%,
            100% 63%,
            100% 100%,
            0% 100%
        );
    }
    50% {
        clip-path: polygon(
            0% 50%,
            10% 55%,
            20% 60%,
            30% 65%,
            40% 63%,
            50% 60%,
            60% 58%,
            70% 56%,
            80% 55%,
            90% 59%,
            100% 70%,
            100% 100%,
            0% 100%
        );
    }
}

@keyframes wave2 {
    0%, 100% {
        clip-path: polygon(
            0% 50%,
            20% 45%,
            40% 50%,
            60% 55%,
            80% 55%,
            90% 54%,
            100% 53%,
            100% 100%,
            0% 100%
        );
    }
    50% {
        clip-path: polygon(
            0% 60%,
            20% 50%,
            40% 40%,
            60% 45%,
            80% 50%,
            90% 55%,
            100% 63%,
            100% 100%,
            0% 100%
        );
    }
}