{% extends 'base.html' %}

{% block title %} Conócenos {% endblock %}

{% block content %}
<div class="content-about">
    <div class="about">
        <div class="about__description">
            <div class="image">
                <picture>
                    <source srcset="{{ url_for('static',filename='img/logo_ipn.avif') }}" type="image/avif">
                    <source srcset="{{ url_for('static',filename='img/logo_ipn.webp') }}" type="image/webp">
                    <img loading="lazy" src="{{ url_for('static',filename='img/min/logo_ipn.png') }}" type="image/png" alt="Logo IPN">
                </picture>
            </div>
            <div class="text">
                <h2>¿Qué es PsycoBurrito?</h2>
                <p>{{ web_description }}</p>
            </div>
        </div>
    </div>
</div>
<div class="content-about">
    <div class="about">
        <div class="about__description">
            <div class="text">
                <h2>¿Cómo nació PsycoBurrito?</h2>
                <div class="text_description">
                    <p>
                        PsycoBurrito nació bajo la iniciativa de implementar una herramienta de ayuda psicológica, canalización para la posterior obtención de ayuda y prevención del suicidio.
                    </p>
                    <p>
                        Mediante estudios realizados por nuestro equipo administrativo, dentro del entorno de desarrollo del proyecto, coincidimos los problemas de salud mental que comúnmente presentan los estudiantes que son:
                    </p>
                    <ul>
                        <li><span>Ansiedad</span></li>
                        <li><span>Depresión</span></li>
                        <li><span>Bajo Autoestima</span></li>
                        <li><span>Estrés</span></li>
                        <li><span>Mal manejo de las emociones</span></li>
                        <li><span>Aislamiento</span></li>
                        <li><span>Agresividad</span></li>
                        <li><span>Apatía</span></li>
                        <li><span>Suicidio (en el peor de los casos).</span></li>
                    </ul>
                    <p>
                        De esta manera brindaremos la ayuda necesaria por medio de nuestra aplicación web.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}