{% extends 'base.html' %}

{% block title %} Información {% endblock%}

{% block content %}
<div class="content-help_information">
    <div class="help_information">
        <div class="help_information__item">
            <h3 class="item__title">Ansiedad</h3>
            <div class="item__description">
                <p>{{ anxiety }}</p>
                <p>Todos nos preocupamos o nos sentimos nerviosos de vez en cuando. En realidad, la ansiedad se trata de una reacción humana normal ante diferentes situaciones estresantes. Pero, cuando una persona sufre de <strong>un trastorno de ansiedad</strong> estas reacciones ante el estrés, así como los miedos y las preocupaciones asociadas a ellas no son temporales.</p>
                <p>Es normal que si padeces de este trastorno te preguntes cómo se puede<strong> curar la ansiedad</strong>. La razón de ello es que los síntomas asociados a la ansiedad pueden interferir tanto a nivel personal como profesional.</p>
            </div>
            <h3 class="item__subtitle">Controla la ansiedad</h3>
            <div class="item__description">
                <ul>
                    <li><p><strong>Maneja el estrés</strong>: Una de los métodos para conseguir <strong>curar la ansiedad</strong> implica reducir nuestros así como aquellos desencadenantes que nos agobian demasiado. Para ello es importante ser consciente de todo lo que nos puede causar este nerviosismo y limitar nuestra exposición a estas fuentes.</p></li>
                    <li><p><strong>Usa técnicas de relajación:</strong> Una manera de intentar aplacar <strong>las crisis de ansiedad y sus síntomas físicos</strong> es utilizando técnicas de relajación para poder calmar todas las respuestas de nuestro organismo ante este tipo de pensamientos nerviosos y miedos.</p></li>
                    <li><p><strong>Reemplaza tus pensamientos negativos:</strong> La ansiedad proviene de nuestros miedos y preocupaciones. Por lo tanto, para <strong>curar la ansiedad</strong> debemos tratar precisamente este tipo de pensamientos. Una forma de hacerlo es precisamente escribiendo una lista de nuestras preocupaciones e ideas negativas para proponer pensamientos positivos que puedan reemplazarlos.</p></li>
                    <li><p><strong>Construye una red de apoyo:</strong> Si sientes mucha ansiedad, una cura leve ante estos síntomas será comentárselo a una persona de tu confianza. Contarle a alguien tus preocupaciones te proporcionará un alivio ante estas ideas negativas y recurrentes que pasan por tu mente.</p></li>
                    <li><p><strong>Ejercicio:</strong> El esfuerzo físico así como un estilo de vida activo nos pueden<strong> ayudar a curar la ansiedad</strong> de una manera más rápida. Esto es debido a que el ejercicio físico nos permite la liberación de sustancias químicas en nuestro cerebro, como las endorfinas, que estimulan nuestras emociones positivas.</p></li>
                </ul>
            </div>
            <h3 class="item__subtitle">Tratamiento de la ansiedad</h3>
            <div class="item__description">
                <ul>
                    <li><p><strong>Terapia cognitivo-conductual (TCC):</strong> Se trata de una de las <strong>terapias para la ansiedad</strong> más usadas. Las investigaciones alrededor de este tratamiento han demostrado que este método es muy eficaz para curar la ansiedad generalizada, las fobias, los trastornos de pánico, entre otras afecciones relacionadas con estos trastornos. Esta terapia fundamenta su método en la premisa de que son tus pensamientos y no la situación actual la que afecta a cómo te sientes y a tu actitude. Por lo tanto, el principal objetivo que tiene la terapia cognitivo-conductual para curar la ansiedad es identificar y comprender estos pensamientos y preocupaciones asociadas a este trastorno e intentar reemplazarlos por un comportamiento más realista así como usar mecanismos de afrontamiento ante ellos.</p></li>
                    <li><p><strong>Terapia de exposición</strong>: Este tipo de terapia se basa en la idea de que si le tienes miedo a algo la mejor manera de superarlo es haciéndole frente a ello. De esta forma, durante una de estas<strong> terapia para la ansiedad</strong> un terapeuta te presentará lentamente una serie de objetos o situaciones que producen  ansiedad para ir gradualmente aprendiendo estrategias para saber cómo afrontarla.</p></li>
                    <li><p><strong>Terapia conductual dialéctica (DBT)</strong>: Este <strong>tratamiento para la ansiedad</strong> se basa en la existencia de fuerzas de oposición que nos llevan a la evolución personal y social. Es decir, en ella se trabaja en la aceptación de uno/a mismo/a así como aquello que nos rodea, para dejar de sentirnos culpables de ello así como incomprendidos. Por lo tanto, en estas terapias para la ansiedad se intenta aceptar la razón por la que sufrimos mientras se trabaja activamente para cambiarla.  </p></li>
                    <li><p><strong>Terapia de aceptación y compromiso:</strong> Esta es otro de los métodos psicológicos para<strong> curar la ansiedad</strong>. En esta terapia se centra en actuar para identificar los valores que tenemos e intentar seguirlos en nuestro día a día.</p></li>
                    <li><p><strong>Terapia artística:</strong> La arteterapia se trata de una terapia no verbal que está orientada a la experiencia. Implica al uso del arte (como pintar, dibujar o esculpir) para expresar o procesar emociones que están en nosotros.</p></li>
                    <li><p><strong>Terapia psicoanalítica:</strong> Según el modelo freudiano, los síntomas de la ansiedad pueden reflejar conflictos de nuestro inconsciente. Por lo tanto, para <strong>curar la ansiedad</strong> según esta teoría debemos examinar nuestros pensamientos, miedos y deseos para comprender mejor cómo nos vemos a nosotros mismos  y cómo afrontar los sentimientos negativos relacionados a este trastorno.</p></li>
                    <li><p><strong>Terapia interpersonal (ITP)</strong>: Centrada en los roles y las relaciones sociales. En ella, el terapeuta intentará <strong>ayudarte a curar la ansiedad</strong> intentando identificar cualquier problema interpersonal que puedas tener. Después la terapia se basará en aprender formas saludables de expresar las emociones y de mejorar la comunicación con los demás.</p></li>
                </ul>
            </div>
        </div>
        <div class="help_information__item">
            <h3 class="item__title">Depresión</h3>
            <div class="item__description">
                <p>{{ depression }}</p>
            </div>
            <h3 class="item__subtitle">Puede Tratarse</h3>
            <div class="item__description">
                <p>Si estás deprimido, lo mejor es que hagas algo al respecto: las depresiones no se curan solas. Aparte de pedir ayuda a un médico o terapeuta, hay cinco cosas que puedes hacer para encontrarte mejor.</p>
                <ul>
                    <li><p>Ejercicio físico. Anda a paso ligero de 15 a 30 minutos cada día, o baila, corre o monta en bicicleta, si lo prefieres. A las personas deprimidas no les suele apetecer estar activas. Pero, de todos modos, oblígate a hacerlo (pídele a un amigo que te acompañe si lo necesitas para estar motivado). En cuanto hagas del ejercicio un hábito, no tardarás mucho en percibir un cambio positivo en tu estado de ánimo.</p></li>
                    <li><p>Aparte del ejercicio aeróbico, algunas posturas de yoga te pueden ayudar a aliviar los sentimientos depresivos. Prueba la postura del perro con la cabeza hacia abajo o la de piernas arriba contra la pared (puedes encontrar estas dos posturas en sitios de Internet sobre yoga). Hay otros dos aspectos del yoga: los ejercicios de respiración y la meditación, que también pueden ayudar a encontrarse mejor a la gente deprimida.</p></li>
                    <li><p>Cuídate alimentándote bien. La depresión puede afectar al apetito. Cuando están deprimidas, a algunas personas no les apetece nada comer, pero hay otras pueden comer demasiado. Si la depresión ha afectado a tus hábitos alimentarios, tendrás que tener muy presente la necesidad de alimentarte bien. La nutrición puede influir en el estado de ánimo y el nivel de energía de una persona. O sea que come abundante fruta y verdura y sigue un horario de comidas regular (aunque no tengas hambre, intenta comer algo ligero, como una pieza de fruta, para seguir adelante).</p></li>
                    <li><p>Identifica los problemas, pero no les des vueltas. Intenta identificar las circunstancias que han contribuido a tu depresión. Cuando sepas qué es lo que te ha hecho sentirte triste y decaído y por qué, habla sobre ello con un amigo que te aprecie. Hablar es una forma de dar rienda suelta a los sentimientos y de recibir algo de comprensión.</p></li>
                    <li><p>Una vez hayas aireado esos pensamientos y sentimientos, centra la atención en algo positivo. Actúa para solucionar tus problemas. Pide ayuda si la necesitas. Sentirse conectado con los amigos y la familia puede ayudar a aliviar los sentimientos depresivos. Y tú también puedes ayudarles a sentir que pueden hacer algo por ti en vez de limitarse a ver lo trise que estás.</p></li>
                    <li><p>Exprésate. Cuando una persona está deprimida, puede tener bloqueadas la creatividad y la capacidad para disfrutar de las cosas. Ejercita tu imaginación (pintando, dibujando, haciendo garabatos, cosiendo, escribiendo, bailando, componiendo música, etc.) y no sólo conseguirás que fluyan tus jugos creativos sino que es posible que también experimentes emociones positivas. Dedica tiempo a jugar con un amigo o con tu mascota o haz algo divertido a solas. Encuentra algo de qué reírte; como una comedia, por ejemplo. La risa ayuda a levantar el ánimo.</p></li>
                    <li><p>Intenta fijarte en el lado positivo de las cosas. La depresión repercute sobre los pensamientos de las personas, haciendo que todo parezca negro, desastroso, triste y negativo. Si la depresión te está haciendo fijarte solo en lo negativo, haz un esfuerzo para fijarte en las cosas buenas de la vida. Primero intenta identificar una cosa positiva, luego intenta buscar otra más. Considera tus puntos fuertes, tus dones y lo afortunado que eres. Y, sobre todo, no te olvides de tener paciencia contigo mismo. La depresión requiere tiempo para curarse</p></li>
                </ul>
            </div>
        </div>
        <div class="help_information__item">
            <h3 class="item__title">Bajo Autoestima</h3>
            <div class="item__description">
                <p>{{ low_self_esteem }}</p>
                <p>El autoestima sigue presentándose como un concepto abstracto al que no podemos definir del todo ni mucho menos delimitar. Vamos a acercarnos a la autoestima, a lo que de verdad significa y vamos a tratar de explicarte cómo ejercitarla para que puedas sentirte mucho mejor.</p>
                <p>Nathaniel Branden, psicólogo reconocido, propone 6 pilares fundamentales de la Autoestima:</p>
                <ol>
                    <li><p><strong>Vivir conscientemente</strong></p></li>
                    <li><p><strong>Aprender a aceptarse</strong></p></li>
                    <li><p><strong>Liberación de la culpa</strong></p></li>
                    <li><p><strong>La integración del sí mismo</strong></p></li>
                    <li><p><strong>Vivir de un modo autentico y responsable</strong></p></li>
                    <li><p><strong>Desarrollar autoestima de los demás</strong></p></li>
                </ol>
            </div>
        </div>
        <div class="help_information__item">
            <h3 class="item__title">Estrés</h3>
            <div class="item__description">
                <p>{{ stress }}</p>
                <ul>
                    <li><p><strong>Cambia las palabras:</strong> Trata de pensar más en positivo identificando los pensamientos del tipo: “no puedo, “es muy difícil”, “seguro que a mí no me sale” por un “lo voy a intentar”, “seguro que no es tan difícil”, “voy a hacer lo que pueda”. Parece un juego sin importancia, pero tu cerebro lo va a interpretar de forma distinta y con más positividad.</p></li>
                    <li><p><strong>Evita compararte con los demás:</strong> Comparar tu vida con la de los demás es lo peor que puedes hacer, porque cada persona tiene su vida y unas condiciones que le han llevado a estar en el punto actual. Nadie nace con las mismas capacidades ni tiene las mismas experiencias en la vida, por lo que partiendo de esa base, sería imposible compararse si no partimos de la misma, ¿no crees?</p></li>
                    <li><p><strong>Acéptate tal y como eres:</strong> ¿Qué tal si escribes en un folio todo lo que te gusta de ti y todo lo que te gustaría mejorar? De esta forma, plantéate metas realistas que sean fáciles de conseguir, ya verás como poco a poco vas aprendiendo todo lo bueno que tienes y lo mucho que puedes hacer por mejorar.</p></li>
                    <li><p><strong>Diario positivo:</strong> Una de las técnicas que usamos en terapia se llama “Diario positivo”. Este consiste en tener una libreta o diario donde cada día antes de dormir apuntes 10 cosas buenas que ha tenido el día. El hecho de reflexionar sobre las cosas buenas de tu día te va a hacer apreciar más las cosas pequeñas que, a menudo, solemos pasar por alto.</p></li>
                    <li><p><strong>No fuerces la felicidad:</strong> En los tiempos que corren, de vidas perfectas de Instagram, solemos buscar justamente eso. Vivir miles de aventuras cada día y lucir nuestras mejores sonrisas. Y este tipo de vida es increíble, pero no es realista que sea así cada día. Porque esas personas que suben fotos perfectas, no sabemos cómo es su día a día, en qué piensan antes de dormir ni justo al despertarse. Valora todo lo bueno que tienes en tu vida y lucha por mejorarla, pero no te frustres intentando buscar una felicidad permanente; porque la felicidad no es un estado, son momentos. En su lugar, aprecia las sensaciones de paz interior y de tranquilidad en tu día a día, porque este sí es un estado que se puede prolongar en el tiempo.</p></li>
                    <li><p><strong>Regalate tiempo:</strong> Destina un ratito de cada uno de tus días para hacer una actividad que te guste, como puede ser dar un paseo, leer, escribir, salir a tomar unas cervezas con tus amigos…</p></li>
                </ul>
                <p>Por último, si tienes problemas de ansiedad que te impiden vivir una vida en serenidad, busca <a href="/help_contact" style="color:#5e0101; font-weight: 700;">ayuda psicológica siempre que lo necesites.</a></p>
            </div>
        </div>
        <div class="help_information__item">
            <h3 class="item__title">Manejo de Emociones</h3>
            <div class="item__description">
                <p>{{ emotion_management }}</p>
                <p>Las emociones determinan nuestro comportamiento. Actuaremos de una manera u otra según cómo nos sintamos y esto puede ayudarnos o complicarnos mucho las cosas. Cuando la emoción es “positiva”, nuestro comportamiento tiende a la “normalidad”, incluso nos puede ayudar a actuar correctamente en situaciones difíciles. Sin embargo, cuando la emoción es "negativa" o desagradable (miedo, ira, vergüenza…), nos puede jugar una mala pasada y hacer que nos comportemos de una forma desadaptativa o incoherente.</p>
                <p>Antes de profundizar en las técnicas para el manejo de las emociones, conviene saber que las emociones son estados pasajeros que experimentamos. Son estados normales y naturales que se consideran adaptativos y beneficiosos, ya que nos ofrecen información que nos ayuda a entender las situaciones y adaptarnos a ellas. Recuerda que reprimir las emociones o intentar ignorarlas no da buenos resultados a la larga porque reaparecen con más fuerza.</p>
            </div>
        </div>
        <div class="help_information__item">
            <h3 class="item__title">Aislamiento</h3>
            <div class="item__description">
                <p>{{ isolation }}</p>
            </div>
            <h3 class="item__subtitle">Síntomas</h3>
            <div class="item__description">
                <ul>
                    <li><p>Experimentas sentimientos de diferencia e inferioridad con respecto a los demás, especialmente si son poco conocidos o extraños.</p></li>
                    <li><p>Te cuesta trabajo aceptar los aspectos considerados débiles de la personalidad, como la propia timidez, la sensibilidad, el temor, la dependencia, etc.</p></li>
                    <li><p>Sentimiento de vergüenza cuando tienes que mostrar aspectos no conocidos de ti, de tu familia o de tu vida personal.</p></li>
                    <li><p>Evitación de todas aquellas actividades donde podrías experimentar sentimientos de ridículo, como hablar en público o ser centro de atención en un grupo.</p></li>
                    <li><p>Excesiva preocupación por pequeños defectos físicos a los que otras personas no suelen dar importancia.</p></li>
                    <li><p>En el trabajo o en los estudios te quedas en un segundo plano para no tener un protagonismo que te abruma.</p></li>
                    <li><p>En los grupos de gente te sueles sentir ansioso e incómodo, temes decir cosas incorrectas que puedan provocar descalificación, críticas o risas por parte de los demás lo que te provocaría un desagradable sentimiento de ridículo y humillación.</p></li>
                    <li><p>Sueles evitar los grupos sociales y rodearte sólo de gente con la que tienes gran confianza.</p></li>
                    <li><p>Tienes un fuerte sentimiento de querer compensar estas inseguridades, a veces acercándote a gente más popular, acudiendo al gimnasio a fortalecer tu cuerpo, queriendo hacer negocios para ganar mucho dinero, etc.</p></li>
                </ul>
                <p>Quienes viven bajo esta condición suelen enfrentarse a diversas situaciones y problemas, siendo el más común y más grave la depresión. Las personas que se aíslan sufren de una baja autoestima y suelen caer en profundas depresiones. Además, diversos estudios que se han realizado indican que las personas que viven el aislamiento social suelen tener problemas de aprendizaje, la atención y en la toma de decisiones. Otros estudios la han relacionado con hipertensión arterial y obesidad, así como con problemas de salud mental como la depresión y el suicidio.</p>
            </div>
        </div>
        <div class="help_information__item">
            <h3 class="item__title">Agresividad</h3>
            <div class="item__description">
                <p>{{ aggresseiveness }}</p>
                <p>La terapia psicológica para estos casos está destinada a modificar actitudes que generan situaciones de enfado, y permiten lograr una reestructuración cognitiva para que el paciente pueda gestionar y controlar su ira. También se emplean algunas técnicas de control emocional para controlar la ira y manejar así la agresividad.</p>
                <p>Si un niño está pasando por un momento, la forma de tratar de solucionar sus conflictos será por medio de conductas agresivas, el adulto puede tender a emplear la etiqueta sobre el niño de agresivo. Así pues, una de las actividades la agresividad en niños consiste no poner etiquetas a la conductas de los infantes.</p>
            </div>
            <h3 class="item__subtitle">Tratar con una persona agresiva</h3>
            <div class="item__description">
                <ul>
                    <li><p>Mantén la calma</p></li>
                    <li><p>Intenta ponerte en su lugar</p></li>
                    <li><p>Háblales de la forma más clara, tranquila y resputosa posible</p></li>
                    <li><p>Concéntrate en lo que están conversando</p></li>
                    <li><p>Haz que sepan que están siendo agresivos</p></li>
                </ul>
            </div>
        </div>
        <div class="help_information__item">
            <h3 class="item__title">Apatía</h3>
            <div class="item__description">
                <p>{{ apathy }}</p>
                <ul>
                    <li><p>Tus intereses y pasatiempos regulares ya no se sienten interesantes.</p></li>
                    <li><p>Te sientes muy poco motivado en el trabajo y tu desempeño deja mucho qué desear.</p></li>
                    <li><p>Siempre que piensas en una meta o en una acción, rápidamente pierdes el interés.</p></li>
                    <li><p>Te permites a ti mismo pasar demasiado tiempo frente a la televisión, navegando en internet o jugando video juegos.</p></li>
                    <li><p>Te frustra  o te avergüenza estar rodeado de amigos que tienen algo interesante pasando en sus vidas y tiendes a evitarlos.</p></li>
                    <li><p>Llenas tu vida con tareas intermedias y cuestiones de  trabajo para justificar que no estás  hacienda lo que verdaderamente quieres en la vida.</p></li>
                    <li><p>Todo el tiempo escuchas comentarios de tu familia y amigos que intentan ayudarte a sentirte motivado.</p></li>
                    <li><p>Lees un montón de libros de autoayuda pero no aplicas esos consejos en la vida real.</p></li>
                    <li><p>Estás comiendo de más y ejercitándote de menos.</p></li>
                </ul>
                <p>Salir de la apatía implica fuerza de voluntad. Incluso forzar un poco las cosas. Cuando comienzas a practicar el cambio te vuelves cada día más eficiente y disciplinado. Además generas un mejor concepto de ti mismo y acumulas más energía y entusiasmo por lo que estás haciendo.  Especialmente si ese algo va en favor de tus intereses, aptitudes y valores. Hacer un cambio es básicamente crear una serie de nuevos hábitos. Formar hábitos implica una habilidad especial que es sencilla pero a veces complicada de entender. Muchas personas fallan creando nuevos hábitos por que no comprenden que lo importante es hacer pequeños cambios diariamente. Sólo de esta manera se puede salir de la apatía.</p>
            </div>
        </div>
        <div class="help_information__item">
            <h3 class="item__title">Suicidio</h3>
            <div class="item__description">
                <p>{{ suicide }}</p>
                <p>Cada año, cerca de 703 000 personas se quitan la vida y muchas más intentan hacerlo. Todos los casos son una tragedia que afecta a familias, comunidades y países y tienen efectos duraderos para los allegados de la víctima. Puede ocurrir a cualquier edad, y en 2019 fue la cuarta causa de defunción en el grupo etario de 15 a 29 años en todo el mundo. Los suicidios no solo ocurren en los países de altos ingresos, sino que es un fenómeno que afecta a todas las regiones del mundo. De hecho, más del 77% de los suicidios ocurridos en 2019 tuvieron lugar en países de ingresos bajos y medianos. Aun tratándose de un grave problema de salud pública, se puede prevenir mediante intervenciones oportunas, basadas en la evidencia y, a menudo, de bajo costo. Para que las iniciativas preventivas de los países sean eficaces, deben aplicar una estrategia multisectorial e integral.</p>
                <p>Si bien el vínculo entre el suicidio y los trastornos mentales (en particular, la depresión y el consumo de alcohol) está bien documentado en los países de altos ingresos, muchos casos se dan en personas que lo cometen impulsivamente en situaciones de crisis en las que su capacidad para afrontar las tensiones de la vida, como los problemas económicos, las rupturas de relaciones o los dolores y enfermedades crónicos, está mermada. Además, se ha demostrado suficientemente que vivir conflictos, catástrofes, actos violentos, abusos, pérdida de seres queridos y sensación de aislamiento puede generar conductas suicidas. Las tasas de suicidio también son elevadas entre los grupos vulnerables y discriminados, como los refugiados y migrantes; los pueblos indígenas; las personas lesbianas, homosexuales, bisexuales, transexuales e intersexuales; y los reclusos. El principal factor de riesgo es, con diferencia, un intento previo de suicidio.</p>
                <p>Es posible prevenir los suicidios adoptando medidas a nivel de la población, de determinados grupos poblacionales y del individuo. La OMS ha elaborado una guía para prevenir el suicidio denominada LIVE LIFE («Vive la vida») en el que se recomiendan las siguientes intervenciones de eficacia demostrada que se basan en la evidencia:</p>
                <ul>
                    <li><p>Restringir el acceso a los medios utilizados para suicidarse (por ejemplo, los plaguicidas, las armas de fuego y ciertos medicamentos)</p></li>
                    <li><p>Educar a los medios de comunicación para que informen con responsabilidad sobre el suicidio</p></li>
                    <li><p>Desarrollar en los adolescentes aptitudes socioemocionales para la vida</p></li>
                    <li><p>Detectar a tiempo, evaluar y tratar a las personas que muestren conductas suicidas y hacerles un seguimiento</p></li>
                    <li><p>Estas medidas se deben acompañar de intervenciones básicas como un análisis de la situación, la colaboración multisectorial, la sensibilización, la creación de capacidad, la financiación, la vigilancia, y el seguimiento y la evaluación</p></li>
                </ul>
                <p>Las actividades preventivas exigen la coordinación y colaboración de varios sectores de la sociedad, incluidos los de la salud, la educación, el empleo, la agricultura y la ganadería, el comercio, la justicia, el derecho, las fuerzas del orden, la política y los medios de comunicación. Esas actividades deben ser amplias e integrales, dado que ningún enfoque puede atajar por sí solo una cuestión tan compleja.</p>
            </div>
            <a href="/help_contact" id="help_btn">Te podemos ayudar</a>
        </div>
    </div>
</div>
{% endblock %}