@use 'base/variables' as v;
@use 'base/mixins' as m;

.content-help_information {
    width: 100%;
    margin: 0;
    padding: 5rem 0;
    position: relative;
}

.content-help_information .help_information {
    width: min(90%,120rem);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    .help_information__item {
        width: 100%;
        padding: 2rem;
        border: 4px solid v.$wine;
        border-radius: 1.5rem;
        background: rgba(255, 255, 255, 0.09);
        backdrop-filter: blur(3px);
        .item__title {
            font-family: 'Open Sans',sans-serif;
            font-weight: 700;
            font-size: 4rem;
            color: v.$wine;
        }
        .item__subtitle {
            font-family: 'Open Sans',sans-serif;
            font-weight: 500;
            font-size: 3.5rem;
            color: #333;
            margin: 1.5rem 0;
        }
        .item__description {
            padding: 2rem;
            transition: display linear .5s;
            p {
                font-family: 'Open Sans', sans-serif;
                font-size: 2rem;
                color: #333;
                margin: 0;
            }
            ol {
                li {
                    padding: 1rem;
                }
            }
            ul {
                list-style-type: none;
                padding: 0;
                li {
                    padding: 1rem 0;
                }
            }
        }
    }
}